
<div *ngIf="userObj; else noUserObj">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                {{userObj.userName}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                User Email : {{userObj.userEmail}}
            </p>
            <p>
                User Phone : {{userObj.userPhone}}
            </p>
            <p>
                User Address : {{userObj.userAddress}}
            </p>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #noUserObj>
    <p class="alert alert-warning">
        No Users Data Available!!!
    </p>
</ng-template>

<hr>

<button mat-flat-button color="accent" (click)="gotoUser()" class="mr-2">
    Edit User
</button>

<button mat-flat-button color="warn" (click)="onUserRemove()">
    Remove User
</button>