
<div class="row" *ngIf="productsData.length > 0;else noProduct">
    <div class="col-md-12 text-right">
        <button mat-mini-fab color="accent" routerLink="addProduct">
            <mat-icon>plus_one</mat-icon>
        </button>
        <hr>
    </div>
    <div class="col-md-4">
        <mat-list role="list">
            <mat-list-item role="listitem" 
                *ngFor="let pro of productsData"
                [routerLink]="[pro.pid]"
                [queryParams]="{canReturn : pro.canReturn}"
                routerLinkActive="active">
                <mat-icon class="mr-2">person</mat-icon> {{pro.pname}}
            </mat-list-item>
        </mat-list>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #noProduct>
    <p class="alert alert-warning">
        No Products Data Available!!!
    </p>
</ng-template>