
<h3>
    {{isinEditMode ? 'Update Product' : 'Add Product'}}
</h3>

<mat-card>
    <mat-card-content>
        <form [formGroup]="productForm" (ngSubmit)="onProductAdd()">
            <mat-form-field class="full-width" appearance="legacy">
                <mat-label>Product Name</mat-label>
                <input matInput type="text" formControlName="pname">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="legacy">
                <mat-label>Product Image</mat-label>
                <input matInput type="text" formControlName="images">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="legacy">
                <mat-label>Product Brand</mat-label>
                <input matInput type="text" formControlName="brand">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="legacy">
                <mat-label>Product Price</mat-label>
                <input matInput type="text" formControlName="price">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="legacy">
                <mat-label>Product Description</mat-label>
                <input matInput type="text" formControlName="productDescription">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="legacy">
                <mat-label>Product Rating</mat-label>
                <input matInput type="text" formControlName="rating">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="legacy">
                <mat-label>Product Status</mat-label>
                <mat-select formControlName="pstatus">
                    <mat-option value="Dispatched">Dispatched</mat-option>
                    <mat-option value="Delivered">Delivered</mat-option>
                    <mat-option value="In Progress">In Progress</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="legacy">
                <mat-label>Product CanReturn</mat-label>
                <mat-select formControlName="canReturn">
                    <mat-option value="0">0</mat-option>
                    <mat-option value="1">1</mat-option>
                </mat-select>
            </mat-form-field>

            <button type="submit" mat-raised-button color="primary" *ngIf="!isinEditMode">
                Add Product
            </button>

            <button type="button" mat-raised-button color="warn" *ngIf="isinEditMode" (click)="onUpdateProduct()" 
            [disabled]="canReturn === 0">
                Update User
            </button>
        </form>
    </mat-card-content>
</mat-card>