
.heading{
 color: #fff;
 padding: 1.25rem;
 margin-bottom: 2rem;
 text-align: center;
 font-size: 2rem;
 border: 2px solid black;
 background-image: linear-gradient(90deg, #187658, 0%, #156E72 100%)
}