<main class="mainAuth">
    <mat-card class="authCard text-white">
        <ng-container *ngIf="allReadyHasAcc">
            <mat-card-header>
                <mat-card-title>
                    <h4 class="heading">
                        Log In Form
                    </h4>
                </mat-card-title>
            </mat-card-header>

            <div class="social-container mb-4">
                <a href="javascript:;" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="javascript:;" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="javascript:;" class="social"><i class="fab fa-linkedin-in"></i></a>
                <a href="javascript:;" class="social"><i class="fab fa-github"></i></a>
            </div>

            <mat-card-content>
                <form [formGroup]="logInForm" (ngSubmit)="onLogIn()">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label class="text-white">Email Id</mat-label>
                        <input type="text" matInput formControlName="email">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label class="text-white">Password</mat-label>
                        
                        <input type="password" matInput formControlName="password" id="password" 
                        [type]="showPassword? 'text' : 'password'">
                        <i class="fas" [ngClass]="{'fa-eye-slash' : !showPassword , 'fa-eye' : showPassword}"
                        (click)="showPassword = !showPassword"></i>
                    </mat-form-field>

                    <mat-card-actions class="text-right mr-1">
                        <button mat-raised-button color="accent" type="submit">Log In</button>
                    </mat-card-actions>

                </form>
            </mat-card-content>

        </ng-container>

        <ng-container *ngIf="!allReadyHasAcc">
            <mat-card-header>
                <mat-card-title>
                    <h4 class="heading mb-2">
                        Sign Up Form
                    </h4>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label class="text-white">Name</mat-label>
                        <input matInput formControlName="name" placeholder="Name">
                       
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label class="text-white">Email Id</mat-label>
                        <input matInput formControlName="email" placeholder="Email">
                        
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label class="text-white">Password</mat-label>
                        <input type="password" matInput formControlName="password" id="password" placeholder="Password"
                        [type]="showPassword? 'text' : 'password'">
                        <i class="fas" [ngClass]="{'fa-eye-slash' : !showPassword , 'fa-eye' : showPassword}"
                        (click)="showPassword = !showPassword"></i>
                        
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label class="text-white">Confirm Password</mat-label>
                        <input matInput formControlName="confirmPassword" placeholder="Confirm Password" type="password">
                       
                    </mat-form-field>

                    <mat-card-actions class="text-right mr-1">
                        <button mat-raised-button color="accent" type="submit">Sign up</button>
                    </mat-card-actions>

                </form>
            </mat-card-content>
        </ng-container>

        <a mat-raised-button href="javascript:;" (click)="allReadyHasAcc = !allReadyHasAcc">
            {{allReadyHasAcc? 'Dont Have Account?' : 'Already Has Account ?'}}
        </a>
    </mat-card>
</main>