
.mainAuth{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: olive;
    display: flex;
    justify-content: center;
    align-items: center;

    .authCard{
        height: 450px;
        width: 450px;
        max-width: 95%;
        background: rgb(0, 0, 0, 0.3);
    }
}

.example-full-width{
    width: 100%;
}

input[type= "password"]{
    position: relative;
}

.fas{
    position: absolute;
    right: 5px;
    top: 5%;
    cursor: pointer;
    font-size: 15px;

}

.social-container{
    margin: 5px 90px;
}

.social-container a{
    border: 1px solid black;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
    height: 40px;
    width: 40px;
}

.social-container a:hover{
    background-color: aqua;
    color: red;
    text-decoration: none;
}